################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/Game/v15
/Game/Debug
*.vcxproj.filters
*.vcxproj
*.vcxproj.user
